<div class="col d-flex justify-content-center">
    <div id="termynal" data-termynal data-ty-startDelay="300" data-ty-typeDelay="20" data-ty-lineDelay="400">
        <span data-ty="input" data-ty-prompt="🦠">from app import status</span>
        <span data-ty data-ty-prompt="🦠">api_status_check()</span>
        <span data-ty="progress"></span>
        {% for v in spanCode %}
            <span data-ty data-ty-prompt="🔥🔥🔥">{{ v }}</span>
        {% endfor %}
        <span data-ty data-ty-prompt="✨">Stay Safe at Home 🏡</span>
    </div>
</div>